<section class="section about-us" id="about-us" data-aos="fade-right" data-aos-offset="300"
     data-aos-easing="ease-in-sine">
    <div class="container">
        <div class="about-us__aboutus--flex">
            <div class="about-us__pictures">
                <picture class="picture-1">
                    <source srcset="./images/about/fotodoc3.png"
                        media="(min-width: 1280px)" sizes="270px" />
                    <source srcset="./images/about/fotodoc3.png"
                        media="(min-width: 768px)" sizes="330px" />
                    <img src="./images/about/fotodoc3.png" sizes="330px" alt="Фото на документы" />
                </picture>
            </div>
            <div class="about-us__about">
                <p class="section__subtitle about-us__subtitle">о нас</p>
                <h2 class="section__title about-us__title">Фотоцентр твоего города</h2>
                <p class="about-us__about--title">Если ты хочешь срочную и качественную печать – тебе точно к
                    нам.</p>
                <p class="about-us__about--subtitle">
                    Мы работаем уже более 20 лет. 
                </p>
                <a href="tel:+380973368373" class="button about-us header__button-feedback" aria-label="Телефон компании" data-menu-link>
                    +38 097 336 83 73
                </a>
            </div>
        </div>
    </div>
</section>