<header class="header" id="top">
    <div class="header__inner">
        <div class="header__mob">
            <button class="header__button-menu" aria-label="кнопка меню открыть-закрыть" aria-expanded="false"
                aria-controls="sideBar" data-menu-button>
                <svg width="40" height="40">
                    <use href="./images/sprite.svg#icon-menu" class="icon-menu"></use>
                    <use href="./images/sprite.svg#icon-close" class="icon-cross"></use>
                </svg>
            </button>
        </div>
        <div class="backdrop" data-backdrop>
            <div class="header__menu-inner" id="menuInner" data-menu-inner>
                <nav>
                    <ul class="header__nav-list">
                        <li class="header__nav-item">
                            <a href="#about-us" class="header__nav-link" aria-label="перейти к информации о нас"
                                data-menu-link>О нас</a>
                        </li>
                        <li class="header__nav-item">
                            <a href="#services" class="header__nav-link"
                                aria-label="перейти к информации об услугах и ценах" data-menu-link>Услуги</a>
                        </li>
                    
                        <li class="header__nav-item">
                            <a href="#contacts" class="header__nav-link"
                                aria-label="перейти к информации о контактах нашего салона" data-menu-link>Контакты</a>
                        </li>
                    </ul>
                </nav>
                <div class="header__contacts">
                    <a href="tel:+380973368373" class="button header__button-feedback"
                        aria-label="Телефон компании" data-menu-link>
                        +38 097 336 83 73
                    </a>
                </div>
            </div>
        </div>
    </div>
</header>