<section class="hero slider" data-aos="zoom-in">
    <div class="siema" id="siema">
        <picture class="slider-pic">
            <source srcset="./images/hero/foto41.png"
                media="(max-width: 576px)" />
            <source srcset="./images/hero/foto433.png"
                media="(min-width: 960px)" />
            <source srcset="./images/hero/foto42.png"
                media="(min-width: 577px)" />
            <img src="./images/hero/foto433.png" alt="Фотографии" class="slider-foto" data-slide="1" />
        </picture>
        <!-- <picture class="slider-pic">
            <source srcset="./images/hero/foto3.jpg"
                media="(max-width: 576px)" />
            <source srcset="./images/hero/foto3.jpg"
                media="(min-width: 960px)" />
            <source srcset="./images/hero/foto3.jpg"
                media="(min-width: 577px)" />
            <img src="./images/hero/foto3.jpg" alt="Фотографии" class="slider-foto" data-slide="1" />
        </picture> -->
    </div>
    <div class="dots">
        <button class="dots__item"></button>
        <button class="dots__item"></button>
        <button class="dots__item"></button>
    </div>
    <div class="hero__description">
        <p class="section__subtitle hero__subtitle--color">
            Photo printing, stationery, baguette workshop
        </p>
        <h1 class="hero__title">Фото на документы</h1>
        <p class="hero__text">
            Быстрая печать в любых объёмах.
        </p>
    </div>
    <div class="siema-buttons">
        <button class="slider-button prev">Назад</button>
        <button class="slider-button next">Вперед</button>
    </div>
</section>