<!-- Portfolio -->
<section class="section" data-aos="zoom-in">
    <div class="container">
        <p class="section__subtitle--portfolio">Печать фотографий, прошивка документов, оформление картин в багеты, канцтовары, печать на холсте, чашках и футболках</p>
        <h2 class="visually-hidden">Наши работы</h2>
        <ul class="portfolio__list">
            <li class="portfolio__item">
                <picture>
                    <source
                        srcset="./images/examples/fotodoc1.jpg"
                        media="(min-width: 1280px)" sizes="270px" />
                    <source srcset="./images/examples/fotodoc1.jpg"
                        media="(min-width: 768px)" sizes="330px" />
                    <source srcset="./images/examples/fotodoc1.jpg"
                        media="(max-width: 767px)" sizes="418px" />
                    <img src="./images/examples/fotodoc1.jpg" alt="Фото на документы" />
                </picture>
            </li>
            <li class="portfolio__item">
                <picture>
                    <source
                        srcset="./images/examples/holst2.jpg"
                        media="(min-width: 1280px)" sizes="270px" />
                    <source srcset="./images/examples/holst2.jpg"
                        media="(min-width: 768px)" sizes="330px" />
                    <source srcset="./images/examples/holst2.jpg"
                        media="(max-width: 767px)" sizes="418px" />
                    <img src="./images/examples/holst2.jpg" alt="Холст" />
                </picture>
            </li>
            <li class="portfolio__item">
                <picture>
                    <source
                        srcset="./images/examples/proshivka1.jpg"
                        media="(min-width: 1280px)" sizes="270px" />
                    <source srcset="./images/examples/proshivka1.jpg"
                        media="(min-width: 768px)" sizes="330px" />
                    <source srcset="./images/examples/proshivka1.jpg"
                        media="(max-width: 767px)" sizes="418px" />
                    <img src="./images/examples/proshivka1.jpg" alt="Прошивка документов" />
                </picture>
            </li>
            <li class="portfolio__item">
                <picture>
                    <source
                        srcset="./images/examples/baget3.jpg"
                        media="(min-width: 1280px)" sizes="270px" />
                    <source srcset="./images/examples/baget3.jpg"
                        media="(min-width: 768px)" sizes="330px" />
                    <source srcset="./images/examples/baget3.jpg"
                        media="(max-width: 767px)" sizes="418px" />
                    <img src="./images/examples/baget3.jpg" alt="Багеты" />
                </picture>
            </li>
            <li class="portfolio__item">
                <picture>
                    <source
                        srcset="./images/examples/cup1.jpg"
                        media="(min-width: 1280px)" sizes="270px" />
                    <source srcset="./images/examples/cup1.jpg"
                        media="(min-width: 768px)" sizes="330px" />
                    <source srcset="./images/examples/cup1.jpg"
                        media="(max-width: 767px)" sizes="418px" />
                    <img src="./images/examples/cup1.jpg" alt="Багеты" />
                </picture>
            </li>
            <li class="portfolio__item">
                <picture>
                    <source
                        srcset="./images/examples/t-shirt1.jpg"
                        media="(min-width: 1280px)" sizes="270px" />
                    <source srcset="./images/examples/t-shirt1.jpg"
                        media="(min-width: 768px)" sizes="330px" />
                    <source srcset="./images/examples/t-shirt1.jpg"
                        media="(max-width: 767px)" sizes="418px" />
                    <img src="./images/examples/t-shirt1.jpg" alt="Багеты" />
                </picture>
            </li>
        </ul>
    </div>
</section>